<!-- <div>
  {{this.firstname}}
  <h1>{{this.age}}</h1>
  <h1>{{this.bool}}</h1>
  <h1>{{this.address}}</h1>
  <h1>{{this.email}}</h1>
  <h1>{{this.colour}}</h1>
  <h1>{{obj1.firstname}}</h1>
  <h1>{{obj1.lastname}}</h1>
  <h1>{{array2[1]}}</h1>
  <h1>{{array1[1]}}</h1>
  <h1>{{array4[0].firstname}}</h1>
</div>

<div *ngFor="let obj of array4, let i=index"> 
<button (click)="checkindex(i)">check</button>
<p>{{obj.firstname}}</p>
<p>{{obj.lastname}}</p>
<p>{{obj.age}}</p>
</div>

<input type="text" class="{{firststyling}}">
<input type="text" class="{{firststyling}}">

<div [class]="secstyling">Hello World!</div>

<div class="style1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident inventore sequi, accusantium alias facilis perspiciatis amet voluptatum est iste itaque odio doloremque voluptatibus nesciunt porro ipsam. Ea inventore deserunt ut.</div>

<div [style.color]="special?'red': 'blue'" [style.background]="special?'black': 'white'" >
Hello, everyone!
</div>

<button (click)="check()">Check</button> -->



<!-- <app-landingpage> </app-landingpage> -->

<router-outlet></router-outlet>
